<app-header></app-header>
<div class="container">
  <h2>Detalles de la Liga</h2>
  <p><strong>Nombre:</strong> {{ liga?.nombre }}</p>
  <p><strong>Categoría:</strong> {{ liga?.categoria }}</p>
  <p><strong>Puntos por Victoria:</strong> {{ liga?.ptos_x_victoria }}</p>
  <p><strong>Puntos por 32ª Victoria:</strong> {{ liga?.ptos_x_32_vict }}</p>
  <p><strong>Puntos por 32ª Derrota:</strong> {{ liga?.ptos_x_32_derrota }}</p>

  <h3>Temporadas</h3>
  <ul class="list-group">
    <li *ngFor="let temporada of temporadas" class="list-group-item">
      <a [routerLink]="['/temporada', temporada.id]">{{ temporada.anio_desde }} - {{ temporada.anio_hasta }}</a>
      <button *ngIf="tipo==='A' || tipo==='D'" (click)="eliminarTemporada(temporada.id)" class="btn btn-danger btn-sm float-right">Eliminar</button>
    </li>
    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success mt-2">
      {{ successMessage }}
    </div>
  </ul>

  <h3 *ngIf="tipo==='A' || tipo==='D'">Agregar Temporada</h3>
  <form *ngIf="tipo==='A' || tipo==='D'" (ngSubmit)="agregarTemporada()">
    <div class="form-group">
      <label for="anio_desde">Año Desde</label>
      <input type="number" id="anio_desde" [(ngModel)]="nuevaTemporada.anio_desde" name="anio_desde" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="anio_hasta">Año Hasta</label>
      <input type="number" id="anio_hasta" [(ngModel)]="nuevaTemporada.anio_hasta" name="anio_hasta" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" [(ngModel)]="nuevaTemporada.estado" name="estado" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Temporada</button>
  </form>
</div>


