<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-violet">
    <a class="navbar-brand" href="#">Mi Aplicación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!isAuthenticated; else loggedInTemplate">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Registrar</a>
          </li>
        </ng-container>
        <ng-template #loggedInTemplate>
          <li class="nav-item dropdown" [class.show]="dropdownOpen.usuario">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" (click)="toggleDropdown($event, 'usuario')" aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.usuario">
              Usuario
            </a>
            <div class="dropdown-menu" [class.show]="dropdownOpen.usuario" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/perfil', getUsuarioId()]">Mi perfil</a>
              <a class="dropdown-item" routerLink="/usuarios">Usuarios</a>
              <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
            </div>
          </li>
          <li class="nav-item dropdown" [class.show]="dropdownOpen.equipos">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" (click)="toggleDropdown($event, 'equipos')" aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.equipos">
              Equipos
            </a>
            <div class="dropdown-menu" [class.show]="dropdownOpen.equipos" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" routerLink="/alta-equipo">Alta de Equipo</a>
              <a class="dropdown-item" routerLink="/ver-equipos">Ver equipos</a>
            </div>
          </li>
          <li class="nav-item dropdown" [class.show]="dropdownOpen.ligas">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" (click)="toggleDropdown($event, 'ligas')" aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.ligas">
              Ligas
            </a>
            <div class="dropdown-menu" [class.show]="dropdownOpen.ligas" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" routerLink="/alta-liga">Alta de Ligas</a>
              <a class="dropdown-item" routerLink="/ver-ligas">Ver ligas</a>
            </div>
          </li>
           <li class="nav-item dropdown" [class.show]="dropdownOpen.partidos">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" (click)="toggleDropdown($event, 'partidos')" aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.partidos">
              Partidos
            </a>
            <div class="dropdown-menu" [class.show]="dropdownOpen.partidos" aria-labelledby="navbarDropdown4">
              <a class="dropdown-item" routerLink="/ver-partidos">Ver Partidos</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>

