<app-header></app-header>
<div class="perfil">
  <h2>{{perfil.nombre}} {{perfil.apellido}}</h2>

  <div class="perfil-card" *ngIf="!editMode">
    <!-- Imagen de perfil basada en el sexo -->
    <img [src]="perfil.sexo === 'Masculino' ? '../../../assets/male-avatar.png' : '../../../assets/female-avatar.png'" alt="Avatar" class="avatar">

    <!-- Información básica del perfil -->
    <div class="perfil-info">
      <p><strong>Email:</strong> {{ perfil.email }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
      <p><strong>Ciudad de Nacimiento:</strong> {{ perfil.ciudad_nacimiento }}</p>
      <p><strong>Provincia de Nacimiento:</strong> {{ perfil.provincia_nacimiento }}</p>
      <p><strong>Sexo:</strong> {{ perfil.sexo }}</p>
      <p *ngIf="esJugador"><strong>Peso:</strong> {{ perfil.peso }} kg</p>
      <p *ngIf="esJugador"><strong>Altura:</strong> {{ perfil.altura }} cm</p>
      <p *ngIf="esDt"><strong>Teléfono:</strong> {{ perfil.telefono }}</p>
    </div>

    <!-- Botón de edición si es el perfil del usuario actual -->
    <div *ngIf="usuarioActual === perfil.id">
      <button class="btn btn-primary" (click)="editProfile()">Editar Perfil</button>
    </div>
  </div>

  <!-- Modo de edición del perfil -->
  <div *ngIf="editMode" class="perfil-edit">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="perfilEditado.nombre" name="nombre" class="form-control">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="perfilEditado.apellido" name="apellido" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="perfilEditado.email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" [(ngModel)]="perfilEditado.fecha_nacimiento" name="fechaNacimiento" class="form-control">
      </div>
      <div class="form-group">
        <label for="ciudadNacimiento">Ciudad de Nacimiento:</label>
        <input type="text" id="ciudadNacimiento" [(ngModel)]="perfilEditado.ciudad_nacimiento" name="ciudadNacimiento" class="form-control">
      </div>
      <div class="form-group">
        <label for="provinciaNacimiento">Provincia de Nacimiento:</label>
        <input type="text" id="provinciaNacimiento" [(ngModel)]="perfilEditado.provincia_nacimiento" name="provinciaNacimiento" class="form-control">
      </div>
      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select id="sexo" [(ngModel)]="perfilEditado.sexo" name="sexo" class="form-control">
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
          <option value="O">Otro</option>
        </select>
      </div>

      <div *ngIf="esJugador">
        <div class="form-group">
          <label for="peso">Peso:</label>
          <input type="number" id="peso" [(ngModel)]="perfilEditado.peso" name="peso" class="form-control">
        </div>
        <div class="form-group">
          <label for="altura">Altura:</label>
          <input type="number" id="altura" [(ngModel)]="perfilEditado.altura" name="altura" class="form-control">
        </div>
      </div>

      <div *ngIf="esDt">
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" id="telefono" [(ngModel)]="perfilEditado.telefono" name="telefono" class="form-control">
        </div>
      </div>

      <button type="button" class="btn btn-success" (click)="saveProfile()">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>

 <div class="estadisticas-container">
  <h2>Estadísticas del Jugador</h2>
  <div class="radar-chart-wrapper">
    <canvas id="estadisticasRadar"></canvas>
  </div>
  <div class="estadisticas-leyenda">
    <ul>
      <li><span class="color-box"></span>Remates: {{ estadisticas.porcentaje_aciertos_remates }}%</li>
      <li><span class="color-box"></span>Bloqueos: {{ estadisticas.porcentaje_aciertos_bloqueos }}%</li>
      <li><span class="color-box"></span>Saques: {{ estadisticas.porcentaje_aciertos_saques }}%</li>
      <li><span class="color-box"></span>Defensas: {{ estadisticas.porcentaje_aciertos_defensas }}%</li>
      <li><span class="color-box"></span>Recepciones: {{ estadisticas.porcentaje_aciertos_recepciones }}%</li>
    </ul>
  </div>
 </div>
  <div *ngIf="esAsistente && esJugador">
    <h3>Estadísticas</h3>
    <!-- Botón para agregar estadísticas -->
    <button class="btn btn-primary" (click)="mostrarFormulario = true">Agregar estadísticas</button>

    <!-- Formulario para cargar estadísticas -->
    <div *ngIf="mostrarFormulario" class="formulario-estadisticas mt-3">
      <h4>Cargar Estadísticas</h4>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="rematesBuenos">Remates Buenos</label>
          <input type="number" id="rematesBuenos" [(ngModel)]="estadisticas.remates_buenos" name="rematesBuenos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="rematesFallidos">Remates Fallidos</label>
          <input type="number" id="rematesFallidos" [(ngModel)]="estadisticas.remates_fallidos" name="rematesFallidos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="defensasBuenas">Defensas Buenas</label>
          <input type="number" id="defensasBuenas" [(ngModel)]="estadisticas.defensas_buenas" name="defensasBuenas" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="defensasFallidas">Defensas Fallidas</label>
          <input type="number" id="defensasFallidas" [(ngModel)]="estadisticas.defensas_fallidas" name="defensasFallidas" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="bloqueosBuenos">Bloqueos Buenos</label>
          <input type="number" id="bloqueosBuenos" [(ngModel)]="estadisticas.bloqueos_buenos" name="bloqueosBuenos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="bloqueosFallidos">Bloqueos Fallidos</label>
          <input type="number" id="bloqueosFallidos" [(ngModel)]="estadisticas.bloqueos_fallidos" name="bloqueosFallidos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="saquesBuenos">Saques Buenos</label>
          <input type="number" id="saquesBuenos" [(ngModel)]="estadisticas.saques_buenos" name="saquesBuenos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="saquesFallidos">Saques Fallidos</label>
          <input type="number" id="saquesFallidos" [(ngModel)]="estadisticas.saques_fallidos" name="saquesFallidos" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="recepcionesBuenas">Recepciones Buenas</label>
          <input type="number" id="recepcionesBuenas" [(ngModel)]="estadisticas.recepciones_buenas" name="recepcionesBuenas" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="recepcionesFallidas">Recepciones Fallidas</label>
          <input type="number" id="recepcionesFallidas" [(ngModel)]="estadisticas.recepciones_fallidas" name="recepcionesFallidas" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar Estadísticas</button>
      </form>
    </div>
  </div>
</div>

