<div class="perfil">
  <h2>Mi Perfil</h2>
  <p><strong>Nombre:</strong> {{ perfil.nombre }}</p>
  <p><strong>Apellido:</strong> {{ perfil.apellido }}</p>
  <p><strong>Email:</strong> {{ perfil.email }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
  <p><strong>Ciudad de Nacimiento:</strong> {{ perfil.ciudad_nacimiento }}</p>
  <p><strong>Provincia de Nacimiento:</strong> {{ perfil.provincia_nacimiento }}</p>
  <p><strong>Sexo:</strong> {{ perfil.sexo }}</p>
</div>


