<app-header></app-header>
<h2>Detalles del Partido</h2>
<p>{{ partido.local }} vs {{ partido.visita }}</p>

<form (submit)="agregarSet()" *ngIf="(res1 || res2) && partido.set_ganados_local <= 2 && partido.set_ganados_visita <= 2 && partido.estado !== 'Finalizado'">
  <h3>Agregar Set</h3>
  <div>
    <label for="puntosLocal">Puntos Local:</label>
    <input type="number" id="puntosLocal" [(ngModel)]="nuevoSet.puntos_local" name="puntosLocal" required>
  </div>
  <div>
    <label for="puntosVisita">Puntos Visita:</label>
    <input type="number" id="puntosVisita" [(ngModel)]="nuevoSet.puntos_visita" name="puntosVisita" required>
  </div>
  <div>
    <label for="formacionLocal">Formación Local:</label>
    <select id="formacionLocal" [(ngModel)]="nuevoSet.id_formacion_local" name="formacionLocal" required>
      <option *ngFor="let formacion of formacionesLocal" [value]="formacion.id">
        {{ formacion.jugador_1 }} - {{ formacion.jugador_2 }} - ...
      </option>
    </select>
  </div>
  <div>
    <label for="formacionVisit">Formación Visit:</label>
    <select id="formacionVisit" [(ngModel)]="nuevoSet.id_formacion_visit" name="formacionVisit" required>
      <option *ngFor="let formacion of formacionesVisit" [value]="formacion.id">
        {{ formacion.jugador_1 }} - {{ formacion.jugador_2 }} - ...
      </option>
    </select>
  </div>
  <div>
    <button type="submit">Agregar Set</button>
  </div>
</form>

<h3>Sets</h3>
<li *ngFor="let set of partido.sets">
  Local: {{ set.puntos_local }} - Visita: {{ set.puntos_visita }}
  <button *ngIf="(res1 || res2) && partido.estado!=='Finalizado'" (click)="abrirFormularioCambio()">Cambio</button>
  <button *ngIf="(res1 || res2) && partido.estado!=='Finalizado'" (click)="eliminarSet(set.id)">Eliminar</button> <!-- Botón para eliminar el set -->
</li>

<!-- Formulario de cambio -->
<div *ngIf="(res1 || res2) && nuevoCambio && partido.estado !=='Finalizado'">
  <h4>Registrar Cambio</h4>
  <form (ngSubmit)="registrarCambio()">
    <div>
      <label for="id_formacion">Formación:</label>
      <select id="id_formacion" [(ngModel)]="nuevoCambio.id_formacion" name="id_formacion" (change)="onFormacionChange()" required>
        <optgroup label="Formaciones Local">
          <option *ngFor="let formacion of formacionesLocal" [value]="formacion.id">
            {{ formacion.jugador_1 }} - {{ formacion.jugador_2 }} - ...
          </option>
        </optgroup>
        <optgroup label="Formaciones Visit">
          <option *ngFor="let formacion of formacionesVisit" [value]="formacion.id">
            {{ formacion.jugador_1 }} - {{ formacion.jugador_2 }} - ...
          </option>
        </optgroup>
      </select>
    </div>
    <div>
      <label for="id_jugador_sale">Jugador que sale:</label>
      <select id="id_jugador_sale" [(ngModel)]="nuevoCambio.id_jugador_sale" name="id_jugador_sale" required>
        <option *ngFor="let jugador of jugadores" [value]="jugador.id">
          {{ jugador.nombre }} {{ jugador.apellido }}
        </option>
      </select>
    </div>
    <div>
      <label for="id_jugador_entra">Jugador que entra:</label>
      <select id="id_jugador_entra" [(ngModel)]="nuevoCambio.id_jugador_entra" name="id_jugador_entra" required>
        <option *ngFor="let jugador of jugadores" [value]="jugador.id">
          {{ jugador.nombre }} {{ jugador.apellido }}
        </option>
      </select>
    </div>
    <div>
      <label for="cerro">¿Cerró el punto?</label>
      <input id="cerro" type="checkbox" [(ngModel)]="nuevoCambio.cerro" name="cerro">
    </div>
    <div>
      <label for="permanente">¿Es un cambio permanente?</label>
      <input id="permanente" type="checkbox" [(ngModel)]="nuevoCambio.permanente" name="permanente">
    </div>
    <button type="submit">Registrar Cambio</button>
  </form>
</div>
<div *ngIf="cambios.length > 0">
  <h3>Cambios del Partido</h3>
  <ul>
    <li *ngFor="let cambio of cambios">
      {{cambio.jugador_sale_nombre}} {{cambio.jugador_sale_apellido}}
      fue reemplazado por
      {{cambio.jugador_entra_nombre}} {{cambio.jugador_entra_apellido}}
      {{cambio.cerro ? '(el cambio cerró)' : ''}} {{cambio.permanente ? '(permanente)' : ''}}
    </li>
  </ul>
</div>

<button (click)="terminarPartido()" *ngIf="(res1 || res2) && partido.estado !== 'Finalizado' && (partido.set_ganados_local >= 2 || partido.set_ganados_visita >= 2) && partido.set_ganados_local !== partido.set_ganados_visita">Terminar Partido</button>
