<div class="container">
  <!-- Detalles de la Temporada -->
  <h2>Detalles de la Temporada</h2>
  <div *ngIf="temporada">
    <p><strong>Año Desde:</strong> {{ temporada.anio_desde }}</p>
    <p><strong>Año Hasta:</strong> {{ temporada.anio_hasta }}</p>
    <p><strong>Estado:</strong> {{ temporada.estado }}</p>
  </div>

  <!-- Equipos en esta Temporada -->
  <h3>Equipos en esta Temporada</h3>
  <ul class="list-group">
    <li *ngFor="let posicion of posiciones" class="list-group-item">
      <a [routerLink]="['/equipo',posicion.id_equipo]">
        {{ posicion.nombre }} - Puntos: {{ posicion.puntaje }} - {{posicion.set_ganados}} - {{posicion.set_en_contra}} - {{posicion.diferencia_sets}}
      </a>
      <button *ngIf="posicion.puntaje === 0 && (tipo==='A' || tipo==='D')" class="btn btn-danger btn-sm float-end" (click)="eliminarPosicion(posicion.id)">Eliminar</button>
    </li>
  </ul>

  <h4 *ngIf="tipo==='A' || tipo==='D'">Agregar Equipo a la Temporada</h4>
  <div *ngIf="tipo==='A' || tipo==='D'" class="form-group">
    <select class="form-control" [(ngModel)]="nuevoEquipoId">
      <option *ngFor="let equipo of equipos" [value]="equipo.id">{{ equipo.nombre }}</option>
    </select>
    <button class="btn btn-primary mt-2" (click)="agregarEquipo()">Agregar Equipo</button>
  </div>

  <!-- Partidos en esta Temporada -->
  <h3>Partidos en esta Temporada</h3>
  <ul class="list-group">
    <li *ngFor="let partido of partidos" class="list-group-item">
      <a [routerLink]="['/partido',partido.id]">{{ partido.fecha }} - {{ partido.hora }} | {{ partido.local }} vs {{ partido.visita }}</a>
      {{partido.set_ganados_local}} - {{partido.set_ganados_visita}}
      <div *ngIf="partido.set_ganados_local > 0 || partido.set_ganados_visita > 0">
        {{partido.estado}}
      </div>
      <button *ngIf="partido.estado !== 'Finalizado' && (tipo==='A' || tipo==='D')" class="btn btn-danger btn-sm float-right" (click)="eliminarPartido(partido.id)">Eliminar</button>
    </li>
  </ul>

  <!-- Botón para abrir el modal de agregar partido -->
  <button *ngIf="tipo==='A' || tipo==='D'" class="btn btn-primary mt-4" (click)="abrirModal()">Agregar Partido</button>

  <!-- Modal para agregar partido -->
  <div *ngIf="modalAbierto" class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h4>Agregar Partido</h4>
      <div class="form-group">
        <input type="date" class="form-control" [(ngModel)]="nuevoPartido.fecha" placeholder="Fecha">
        <input type="time" class="form-control" [(ngModel)]="nuevoPartido.hora" placeholder="Hora">
        <select class="form-control" [(ngModel)]="nuevoPartido.id_local">
          <option *ngFor="let posicion of posiciones" [value]="posicion.id_equipo">{{ posicion.nombre }}</option>
        </select>
        <select class="form-control" [(ngModel)]="nuevoPartido.id_visita">
          <option *ngFor="let posicion of posiciones" [value]="posicion.id_equipo">{{ posicion.nombre }} </option>
        </select>
        <button class="btn btn-primary mt-2" (click)="agregarPartido()">Agregar Partido</button>
      </div>
    </div>
  </div>
</div>
